<nav class="mainNav">
    <div class="navbar">
        <div class="heading">
            <a routerLink="/">Book<span style="color: #ef233c;">Your</span>Show</a>
        </div>
        <div class="Horbar">

                <!-- <a routerLink="home">Home</a> -->
            
        </div>


        <div class="navBtn">
            <a routerLink="/auth/cart" style="margin-right: 70px;"><i style="font-size: 25px;" class="fas fa-shopping-cart"></i></a>
            <!-- <button class=" btn btn-primary">Profile</button> -->
        </div>
    </div>

    

</nav>
