<div>
    <div style="margin-left: 40px; width: 100%; margin-top: 20px;">
        <h1 style="width: 400px; border: 1px solid black; padding-left: 140px; background-color: #ef233c; color: white; border-radius: 5px;">Booking Details</h1>
        <input [(ngModel)]="Email" style="width: 400px; height: 25px;" type="text" placeholder="Enter Email"><br>
        <input [(ngModel)]="Phone" style="width: 400px; height: 25px; margin-top: 10px; margin-bottom: 20px;" type="tel" placeholder="Enter Your Phone Number"><br>
        <button style="width: 200px; height: 25px; margin-left: 80px; background-color: #ef233c; font-size: 15px; border-radius: 10px; color: white; border: 1px solid black;" (click)="clickConfirm()">confirm</button>
    </div>
</div>